<div>
	<div id="dance-card-preview">
		<div id="dance-card-owner">
			<a ui-sref="main.sidebar" >Your user name</a>
		</div>

		<!--<h3>Your Dance Card</h3>-->

		<div ng-repeat="person in danceCard" 
			 class="dance-card-preview-img" 
			 ng-class="{'danceCardPreviewLast': {{$last}}}"
			 ng-click="selectOnly($index)"
			 >
			
			<img ng-src="{{person.imageUrl}}" />
		</div>

		<div class="profile" 
			 ng-click="showDetailedProfile()"
			 ng-show="ifSelected()"
			 ng-class="{'isSelected': ifSelected()}":>
			<p>
				<span class="name">{{selectedProfile.name}}</span></br>
				<span class-"personal-blurb">{{selectedProfile.personal_blurb}}</span>
			</p>
		</div>

	</div>

	<div class="vertical-line">
	</div>

	<div ui-view>
	</div>

</div>
