
<div class="meeting-space">

	<!--<h3>People also interested in ....</h3>-->
	<h5>People who also visited this page</h5>

	<div class="profile" 
		ng-repeat="profile in profiles | orderBy:orderProp" 
		ng-click="selectOnly($index)"
		ng-class="{'isSelected': uiState.isSelected == $index} ">

		<a><img ng-src="{{profile.imageUrl}}"/></a>
		<p>
			<span class="name">{{profile.name}}</span>,
			<span class="age">{{profile.age}}</span><br>
			<span class="location-city">{{profile.location_city}}<span>, <span class="location-state">{{profile.location_state}}</span><br><br>
			<span class-"personal-blurb">{{profile.personal_blurb}}</span>
		</p>
	</div>
</div>

