<style>
	.user-details {
		background-color: #343838;
		width: 100%;
		height: auto;
		padding: 0px 10px;
		box-shadow: inset 0px 1px 0px 0px #141616,
					inset 0px 2px 0px 0px #535959;
		cursor: pointer;
		box-sizing: border-box;
		color: #ababab;
		position: fixed;
		top: 85px;
		z-index: 50;
	}

</style>

<div class="user-details">
	<p>
		<span class="name sbe-MsgName">{{username}}</span></br>
		<span class-"personal-blurb">{{shortBlurb}}</span>
	</p>
	<div class="horizontal-line"></div>
</div>
