<style>
/*	.mutual {
		position: absolute;
		background-color: rgba(200,200,200,0.5);
		width: 36px;
		height: 36px;
		border-radius: 50%;
	}
*/


	#injected-content .drag-over-accept {
		background-color: white;
	}

	#injected-content #dance-card-preview div:first-of-type {
		margin: 10px 11px 10px 10px;
	}

	#injected-content #dance-card-preview {
		width: 100%;
		overflow: hidden;
		/*margin-bottom: 10px;*/
		background-color: #2B2E2E;
		position: fixed;
		margin-top: 27px;
		z-index: 50;
		box-shadow:  0px 1px 0px 0px #141616,
					 0px 2px 0px 0px #535959;
	}

	#injected-content .dance-card-preview-img {
		position: relative;
		float: left;
		height: 36px;
		width: 36px;
		margin: 10px 11px 10px 0px;
		border: 1px solid gray;
		background-color: rgba(255,255,255, 1);
		border-radius: 50%;
	}

	#injected-content .dance-card-preview-img > div {
		margin: 0 !important;
	}

	#injected-content .dance-card-preview-img img {
		border-radius: 50%;
		height: 36px;
		width: 36px;
		bottom: 0px;
	}

	#injected-content .danceCardPreviewLast {
		margin-right: 0px;
	}

	#injected-content #sbe-sidebar .sbe-userDetails {
		background-color: #343838;
		width: 100%;
		height: auto;
		padding: 0px 10px;
		box-shadow: inset 0px 1px 0px 0px #141616,
					inset 0px 2px 0px 0px #535959;
		cursor: pointer;
		box-sizing: border-box;
		color: #ababab;
	}

	#injected-content #sbe-sidebar .sbe-MsgName {
		color: white;
		font-weight: bold;
	}

	#injected-content .sbe-mutual {
		opacity: 0.4;
	}

</style>
<div ng-cloak>
	<!-- <div class="horizontal-line">
	</div> -->
	<div id="dance-card-preview"
		 ui-on-drop="onDropAdd($event, $data)"
		 drag-hover-class="drag-over-accept"
	>
<!-- 		 drop="onDropAdd($data, $event)"
		 drop-effect="move"
		 drop-accept="'json/custom-object'"
		 drag-over-class="drag-over-accept"> -->
		<!--<h3>Your Dance Card</h3>-->

		<div ng-repeat="person in dancecard"
			 class="dance-card-preview-img"
			 ng-click="selectOnly($index)"
			 ui-draggable="true"
			 drag="person"
			 drag-channel="remove-person"
			 >
				<img ng-src="{{person.smallimageurls[0]}}"
					 ng-class="{'sbe-is-online': person.logged_in, 'sbe-mutual': !isMutual($index)}"
				/>
		</div>

		<div class="profile sbe-userDetails"
			 ng-click="showDetailedProfile()"
			 ng-show="uiState.showShortProfile"><!--
			 ng-class="{'isSelected': ifSelected()}":> -->
			<p>
				<span class="name sbe-MsgName">{{selectedProfile.username}}</span></br>
				<span class-"personal-blurb">{{selectedProfile.personal_blurb}}</span>
			</p>
		</div>

	</div>

	<!-- <div class="horizontal-line">
	</div> -->

	<div ui-view>
	</div>

</div>
