<style>

#injected-content .history-center {
	width: 100%;
	overflow: scroll;
	height: 800px;
}

#injected-content .historyItem {
	width: 100%;
	height: 48px;
	overflow: hidden;
	margin-bottom: 10px;
    text-overflow:ellipsis;
    white-space: nowrap;
}

#injected-content .historyItem p {
	width: 100%;
}

</style>

<div class="history-center">

	<h5>History Center</h5>

	<button type="button" ng-click="getHistory()">Get history since last week</button>

	<div id="historyList">
		<div class="historyItem"
			ng-repeat="item in history">
			<p>{{item.title}}</p>
			<div class="horizontal-line">
		</div>
		</div>
	</div>
</div>

