<style>
	#sbe-sidebar .submit-btn {
		width: 100%;
		background-color: #008C9E;
		color: #FEFEFE;
		border: none;
		border-bottom: 4px solid #005F6B;
		padding: 10px 5px;
	}

	#sbe-sidebar .submit-btn:hover {
		background-color: #00AABF;
		border-bottom: 4px solid #007786;
	}

	#sbe-sidebar .login-wrapper {
		margin-top: 95px;
	}

</style>

<div class="login-wrapper" ng-cloak>
	<div id="logo-login">
		<img src="http://www.microcake.org/sidebardating/sidebar-logo.png">
	</div>
	<div id="tagline-login">
		<p>Designed Serendipity for Meeting People </p>
	</div>

	<p class="explain-login">Make the Internet your playground!<br /> Join Sidebar now and meet people while you browse the Internet</p>

	<form class="login-form">
		<input type="text" placeholder="Email Address" ng-model="email" required/>
		<input type="password" placeholder="Password" ng-model="password" required/>
		<input type="submit" ng-click="login()" value="Log In" class="submit-btn" />
	</form>
	<p class="login-toggle">Don't have an account? <a ui-sref="sign-up-0">Sign Up</a>

</div>