<div class="login-wrapper">

	<div id="logo-login">
	</div>
	<div id="tagline-login">
		<h4>Sidebar</h4>
		<p>Designed Serendipity for Meeting People </p>
	</div>

	<p class="explain-login">Make the Internet your playground! Join Sidebar now and meet people while you browse the Internet</p>

	<form class="login-form">
		<input type="text" placeholder="Email Address" ng-model="email" required/>
		<input type="text" placeholder="Password" ng-model="password" required/>
		<input type="submit" ng-click="login()" value="Log In" />
	</form>
	<p class="login-toggle">Don't have an account? <a ui-sref="sign-up-0">Sign Up</a>

</div>