<style>
	/*******************************************
	// Messaging Styles
	//
	*******************************************/

/*	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
*/
	#injected-content #sbe-sidebar #messageWrapper {
		position: absolute;
		width: 100%;
    height: 100%; /*temporary fix*/
		/*height: 575px;*/
    padding: 180px 0 50px 0;
    box-sizing: border-box;
    bottom: 20px;
/*    -webkit-box-shadow: 0px 1px 0px 0px #464949;
  box-shadow: 0px 1px 0px 0px #464949;*/
	}

	#injected-content #sbe-sidebar #messages {
      width: 100%;
      height: 85%;
      margin-top: 35px;
      overflow: scroll;
      background-color: #414141;
      box-sizing: border-box;
      padding: 0 15px 10px 15px;
    }

  #injected-content #sbe-sidebar #bottom {
  	position: absolute;
  	bottom: 0px;
  }

  #injected-content #sbe-sidebar #createMessage {
    width: 100%;
/*  position: absolute;
    bottom: 0px;
    margin: 0px;*/
  }

  #injected-content #sbe-sidebar .message {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    color: white;
     padding: 10px;
     box-sizing: border-box;
  }

  #injected-content #sbe-sidebar .sent {
    float: right;
    background-color: #00B768;
    /*border: 1px solid ;*/
    border-bottom-right-radius: 0;
  }

  #injected-content #sbe-sidebar .received {
    float: left;
    /*border: 1px solid #71A500;*/
    /*background-color: #444444;*/
    background-color: #595959;
    border-bottom-left-radius: 0;
  }

  #injected-content #sbe-sidebar .sent,
  #injected-content #sbe-sidebar .received {

  }

  #injected-content #sbe-sidebar .sbe-message-timestamp {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    margin-bottom: 5px;
    color: #ababab;
    font-size: .85em;
    margin-bottom: 10px;
  }

  #injected-content #sbe-sidebar #sbe-message-box {
    /*width: 65%;*/
    width: 240px;
    height: 60px;
    padding: 7px 0 4px 0;
    margin: 10px 5px 5px 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border-radius: 0;
    /*display: inline-block;*/

  }

  #injected-content #sbe-sidebar .sbe-sendMsgBtn {
    /*width: 21%;*/
    width: 240px;
    margin: 0px 5px 0px 10px;
    display: inline-block;
    padding: 6px;
  }

</style>



<div id="messageWrapper" ng-cloak>
	<div id='messages'>
		<div ng-repeat='message in conversation'>
      <div class='sbe-message-timestamp' ng-class="{'hide': message.relativeTimestamp == ''}">
<!--        {{message.sendtime}} <br> -->
        {{message.relativeTimestamp}}
      </div>
			<div class='message' ng-class="{'sent': ifSentByUser($index), 'received': !ifSentByUser($index)}">
				{{message.message}}
			</div>

		</div>
	</div>
  <div class="horizontal-line">
    </div>
	<form id='createMessage' ng-submit="sendMessage()">
		<textarea id='sbe-message-box' ng-model='newMessage' placeholder=" Don't forget to ask them out!"></textarea>
    <button type="button" ng-click="sendMessage()" class="sbe-sendMsgBtn">Send</button>
	</form>
</div>
