<style>
	/*******************************************
	// Messaging Styles 
	//
	*******************************************/

/*	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
*/
	#messageWrapper {
		position: absolute;
		width: 220px;
		height: 575px;
	}

	#messages {
      width: 100%;
      height: 500px;
      background-color: rgba(255,255,255,0.5);
      margin-top: 10px;
      overflow: scroll;
    }

    #bottom {
    	position: absolute;
    	bottom: 0px;
    }

    #createMessage {
      width: 100%;
      background-color: black;
/*      position: absolute;
      bottom: 0px;
      margin: 0px;*/
    }

    .message {
      position: relative;
      padding: 5px;
      margin-bottom: 5px;
      width: 80%;
      border-radius: 10px;
    }

    .sent {
      float: right;
      background-color: green;
    }

    .received {
      float: left;
      background-color: yellow;
    }

    .sbe-message-timestamp {
      width: 100%;
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: 5px;
    }

</style>
<div id="messageWrapper" ng-cloak>	
	<div id='messages'>
		<div ng-repeat='message in conversation'>
			<div class='message' ng-class="{'sent': ifSentByUser($index), 'received': !ifSentByUser($index)}"> 
				{{message.message}} 
			</div>
			<div class='sbe-message-timestamp'>
				{{message.timeStamp}}
			</div>
		</div>
	</div>
	<form id='createMessage'>
		<input type='text' ng-model='newMessage' placeholder='type something...'>
		<input type='submit' value='send' ng-click="sendMessage()">
	</form>
</div>