<style>
	/*******************************************
	// Messaging Styles
	//
	*******************************************/

/*	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
*/
	#messageWrapper {
		position: absolute;
		width: 220px;
		height: 575px;
    margin: 5px;
    margin-left: 15px;
	}

	#messages {
      width: 100%;
      height: 500px;
      /*background-color: rgba(255,255,255,0.5);*/
      margin-top: 10px;
      overflow: scroll;
    }

    #bottom {
    	position: absolute;
    	bottom: 0px;
    }

    #createMessage {
      width: 100%;
/*      position: absolute;
      bottom: 0px;
      margin: 0px;*/
    }

    .message {
      position: relative;
      padding: 5px;
      margin-bottom: 5px;
      width: 100%;
      border-radius: 10px;
    }

    .sent {
      color: white;
      float: right;
      background-color: #404242;
    }

    .received {
      color: white;
      float: left;
      background-color: #008C9E;
    }

    .sbe-message-timestamp {
      width: 100%;
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: 5px;
    }

</style>



<div id="messageWrapper" ng-cloak>
	<div id='messages'>
		<div ng-repeat='message in conversation'>
			<div class='message' ng-class="{'sent': ifSentByUser($index), 'received': !ifSentByUser($index)}">
				{{message.message}}
			</div>
			<div class='sbe-message-timestamp'>
<!-- 				{{message.sendtime}} <br> -->
        {{message.relativeTimestamp}}
			</div>
		</div>
	</div>
	<form id='createMessage'>
		<input type='textarea' ng-model='newMessage' placeholder='type something...'>
    <button type="button" ng-click="sendMessage()">Send</button>
	</form>
</div>
