

<div class="meeting-space">

	<!--<h3>People also interested in ....</h3>-->
	<h5>People who also visited this page</h5>

	<div id="profileList" 
		ng-repeat="profile in profiles" 
		ng-click="selectOnly($index)"
		ng-class="{'isSelected': ifSelected($index)}">

		<div class="profile">
			<img ng-src="{{profile.smallimageurls[0]}}"/>
			<p>
				<span class="name">{{profile.username}}</span></br>
				<span class-"personal-blurb">{{profile.personal_blurb}}</span>
			</p>
		</div>
	</div>
</div>

