
<style>
	.drag-over-accept {
		background-color: gray;
	}

	[draggable] {
	  -moz-user-select: none;
	  -khtml-user-select: none;
	  -webkit-user-select: none;
	  user-select: none;
	  /* Required to make elements draggable in old WebKit */
	  -khtml-user-drag: element;
	  -webkit-user-drag: element;
	}

	#sbe-sidebar #profileList {
		width: 100%;
		overflow: visible;
		position: relative;
	}

	#select-indicator-wrapper {
		position: absolute;
		/*overflow: hidden;*/
		/*position: relative;*/
		/*float: left;*/
		top: 0px;
		left: -10px;
		width: 20px;
		height: 100%;
		/*height: 100px;*/
		/*overflow: auto;*/
		/*z-index: 10000000;*/
		/*background-color: white;*/
	}

	#select-indicator {
		position: absolute;
		/*right: 7px;*/
		top: -20px;/*starting at 18, next at 72 (18+54)*/
		width: 10px;
		height: 10px;
		/*visibility: hidden;*/
		/*background-color: rgb(0,100,0, 0.7);*/
		-webkit-transition: top 0.5s ease, opacity 1s linear;
		margin-top: 43px;
	}

	.init-indicator {
		visibility: hidden;
		/*right: 7px;*/
		-webkit-transform: translateX(0px);
	}

	.apply-indicator {
		visibility: visible;
		/*right: 0px;*/
		-webkit-transform: translateX(8px);
		-webkit-animation:indicatorIn 0.5s 1;
	}

	.remove-indicator {
		visibility: hidden;
		/*right: 7px;*/
		-webkit-transform: translateX(0px);
		-webkit-animation:indicatorOut 0.5s 1;
	}

	@-webkit-keyframes indicatorIn{
	 /* from{right:7px;visibility: hidden;}
	  to{right:0px;visibility:visible;}*/
		from{-webkit-transform: translateX(0px);visibility: hidden;}
	  to{-webkit-transform: translateX(8px);visibility:visible;}
	}

	@-webkit-keyframes indicatorOut{
	  /*from{right:0px;visibility: visible;}
	  to{right:7px;visibility:hidden;}*/
	  from{-webkit-transform: translateX(8px);visibility: visible;}
	  to{-webkit-transform: translateX(0px);visibility:hidden;}
	}

	#sbe-sidebar .profile p {
		margin: 0;
	}

	#sbe-sidebar .profile:hover {
		background-color: #404242;
	}

	#sbe-sidebar .name {
		font-size: 1.1em;
		margin-bottom: 10px;
		/*color: #8AD9DD;*/
		color: white;
	}

	#sbe-sidebar .personal-blurb {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 180px;
		display: inline-block;
		color: #ababab;
	}

	/*#sbe-sidebar .profilelist div:first-of-type {
		border-top: 1px solid #5F6565;
	}*/

	#sbe-sidebar .sidebar-visitors {
		width: 100%;
		/*background-color: #9E9E9E;*/
		box-sizing: border-box;
		text-align: center;

	}

</style>

<div class="meeting-space" ng-cloak>
	<div class="sidebar-visitors">
		<h3 class="sidebar-visitorsTitle">People who also visited this page</h3>
		<div class="horizontal-line">
		</div>
	</div>
	</div>
	<div id="profileList" >

		<div class="profile" 
			ng-repeat="profile in profiles" 
			ng-click="selectOnly($index)"
			ng-class="{'isSelected': ifSelected($index)}"
			 ui-draggable="true"
			 drag="profile"
			 >

		<!-- 	 draggable="true" 
			 draggable-type="custom-object" 
		 	 draggable-data="{userid: {{profile.userid}}, index: $index}" -->
		 	 		 	 <!-- effect-allowed="copy" 
		 	 
 -->			<img ng-src="{{profile.smallimageurls[0]}}"/>
			<p>
				<span class="name">{{profile.username}}</span></br>
				<span class="personal-blurb">{{profile.personal_blurb}}</span>
			</p>
		</div>

		<div id="select-indicator-wrapper">
			<div id="select-indicator" class="init-indicator">
				<svg height="10" width="10">
				  <polygon points="0,0 0,10 10,5" style="fill:rgba(200,200,200,0.9);" />
				</svg>
			</div>
		</div>
	</div>
</div>
<script>
    var selectIndicator = document.getElementById('select-indicator');
      selectIndicator.addEventListener('webkitAnimationEnd',
      // $('#select-indicator').bind('webkitTransitionEnd', 
        function(event){
          console.log(event);
          if(event.animationName == "indicatorOut"){
            $('#detailsWrapper').removeClass('openDetails').addClass('closeDetails');
          }
      }, false);
    
</script>


