	
	<style>
.my-slider {
    width: 420px;
    height: 300px;
    font-size:0;
}
.my-slider li {
    box-sizing: border-box;
    font-size:30px;
    position:relative;
}
.my-slider li div.debug {
    box-sizing: border-box;
    position:absolute;
    bottom:0;
    height:50px;
    background:rgba(0,0,0,0.7);
    color:white;
    font-size:12px;
    width:100%;
    padding:5px;
}
.my-slider.standard li {
    text-align:center;
    padding:20px;
    font-size:20px;
}
.big {
    margin-top:30px;
    width:100%;
    font-size:30px;
}
.controls {
    margin-top:5px;
    width:420px;
    text-align: center;
}
.ng-cloak {
  display:none;
}
.center {
    text-align:center;
}

.thumbs {
    width:450px;
    text-align:center;
}
.thumb {
    display: inline-block;
    background-size:cover;
    border:1px solid transparent;
    margin:2px 4px;
    width:60px;
    height:40px;
    transition: border 0.2s ease-in;
}
.is-active {
    border:1px solid red;
}
/*.details {
    color:white;
    font-size:12px;
    margin-bottom:10px;
}
.button{
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}
.button:disabled {
    cursor: default !important;
    color: #aaa !important;
}
.button.grey{
    background: #bdbdbd;
    background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
  /*  background: -moz-linear-gradient(top,  #cacaca, #aeaeae);
    border-color: #b5b5b5 #a1a1a1 #8f8f8f;
    color: #555;
    text-shadow: 0 1px 0 #d4d4d4;
}
.button.grey:hover{
    background: #c2c2c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
 /*   background: -moz-linear-gradient(top,  #bcbcbc, #c2c2c2);
    border-color: #989898 #8e8e8e #878787;
    text-shadow: 0 1px 0 #dadada;
}
*/
/* override default controls */
.rn-carousel-control {
    font-size:50px !important;
    color:white;
    opacity: 1;
}
.rn-carousel-control.rn-carousel-control-prev {
    left: 5px;
}
.rn-carousel-control.rn-carousel-control-next {
    right: 5px;
}

    /*******************************************
    // Profile details view Styles 
    //
    *******************************************/
    /* Layout with grid! tbd */
    

    #profile-details {
        width: 100%;
        background-color: white;
        margin: 5px 0px 5px 0px;
        overflow: auto;
    }

    #profile-details img {
        width: 19px;
        height: 19px;
        position: relative;
        top: 5px;
    }

    #profile-details h3 {
        display: inline-block;
        margin: 0px 5px 0px 0px;
    }

    #profile-details .col-left {
        position: relative;
        float: left;
        width: 60%;
        margin-right: 5%;
        height: 100%;
    }

    #profile-details .col-right {
        position: relative;
        float: right;
        width: 35%;
        height: 100%;
    }

    #profile-details .profile-actions {
        width: 100%;
        overflow: auto;
    }

    #profile-details .col-right button, #profile-details .col-right a {
        position: relative;
        float: right;
    }

    #age-location {
        margin-bottom: 10px;
    }

    #user-dancecard-count {
        position: relative;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

    #user-dancecard-count .dancecard-indicator{
        width: 19px;
        height: 19px;
        border-radius: 50%;
        border: 1px solid gray;
        display: inline-block;
        position: relative;
        float: right;
        margin-left: 5px;
    }

    #user-dancecard-count p {
        text-align: right;
    }


    #badges-wrapper {
        width: 100%;
        background-color: rgba(255,0,0,0.5);
        margin: 5px 0px 5px 0px;
        overflow: hidden;
        /*height: 75px;*/
    }

    .badge-item {
        width: 75px;
        height: 75px;
        border-radius: 37px;
        background-color: rgba(100,100,100,0.6);
        margin-left: 44px;
        position: relative;
        float: left;

    }

    #profile-interests-viz {
        width: 420px;
        height: 250px;
        background-color: blue;
        overflow: hidden;

    }
	</style>

        <ul rn-carousel  rn-carousel-indicator rn-carousel-control class="my-slider ng-cloak">
            <li ng-repeat="image in profile.selectedProfile.imageurls" ng-style="{'background-image': 'url(' + image + ')'}">
                <div class="debug">
                    {{ image}} / {{ profile.selectedProfile.imageurls.length }}
                </div>
            </li>
        </ul>

 		 <div id="profile-details">
            <div class="col-left">
                <h3>{{profile.selectedProfile.username}}</h3>
                <a ng-show="showRemoveButton()" ui-sref="main.messages"><img ng-src="http://localhost:3000/message/message.png" /></a>
                <p id="age-location">{{profile.selectedProfile.age}}, {{profile.selectedProfile.location_city}}, {{profile.selectedProfile.location_state}}</p>
    	 		<p>{{profile.selectedProfile.personal_blurb}}</p>
            </div>
            <div class="col-right">
                <div class="profile-actions">
                     <button type="button" 
                        ng-show="showAddButton()"
                        ng-click="updateDancecard(profile.selectedProfile.userid, 'added')">Add to Card</button>

                    <button type="button" 
                            ng-show="showRemoveButton()" 
                            ng-click="updateDancecard(profile.selectedProfile.userid, 'removed')">Remove From Card</button>

                    <a ng-show="isSelf()" 
                        ui-sref='main.detailsPanel'>Edit</a>   
                </div>

                <div id="user-dancecard-count" ng-hide="isSelf()">
                    <p>{{profile.selectedProfile.username}}'s Dance Card </p>
                    <div class="dancecard-indicator">
                    </div>
                    <div class="dancecard-indicator">
                    </div>
                    <div class="dancecard-indicator">
                    </div>
                    <div class="dancecard-indicator">
                    </div>
                    <div class="dancecard-indicator">
                    </div>
                </div>
            </div>
	 		<!-- <p>{{profile.selectedProfile | json}}</p> -->
	 	</div>

 		<div id="badges-wrapper">
 			<h5>Top Interests</h5>
 			<div class="badge-item">
 			</div>
 			<div class="badge-item">
 			</div>
 			<div class="badge-item">
 			</div>
 		</div>

 		<div id="profile-interests-viz">
 			<h5>Interested In</h5>
 			<script>
				var color = d3.scale.category10();
				//console.log(color());

				var w = 420, h = 200;
				var canvas = d3.select("#profile-interests-viz").append("svg")
					.attr("width", w)
					.attr("height", h);

				d3.json(chrome.extension.getURL("mydata.json"), function (data) {
					//console.log(data);
					var treemap = d3.layout.treemap()
						.size([w,h])
						.nodes(data);

					//console.log(treemap);
					var cells = canvas.selectAll(".cell")
						.data(treemap)
						.enter()
						.append("g")
						.attr("class", "cell");

					cells.append("rect")
						.attr("x", function (d) {return d.x; })
						.attr("y", function (d) {return d.y; })
						.attr("width", function (d) {return d.dx; })
						.attr("height", function (d) {return d.dy; })
						.attr("fill", function (d) {return d.children ? null : color(d.parent.name); })
						.attr("stroke", "#fff")

					cells.append("text")
						.attr("x", function (d) {return d.x + d.dx / 2 })
						.attr("y", function (d) {return d.y + d.dy / 2 })
						.attr("text-anchor", "middle")
						.text(function (d) {return d.children ? null : d.name; })

				})
			</script>
 		</div>

 	