
	<style>
.my-slider {
    width: 480px;
    height: 300px;
    font-size:0;
}
.my-slider li {
    box-sizing: border-box;
    font-size:30px;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
}
.my-slider li div.debug {
    box-sizing: border-box;
    position:absolute;
    bottom:0;
    height:50px;
    background:rgba(0,0,0,0.7);
    color:white;
    font-size:12px;
    width:100%;
    padding:5px;
}
.my-slider.standard li {
    text-align:center;
    padding:20px;
    font-size:20px;
}
.big {
    margin-top:30px;
    width:100%;
    font-size:30px;
}
.controls {
    margin-top:5px;
    width:420px;
    text-align: center;
}
.ng-cloak {
  display:none;
}
.center {
    text-align:center;
}

.thumbs {
    width:450px;
    text-align:center;
}
.thumb {
    display: inline-block;
    background-size:cover;
    border:1px solid transparent;
    margin:2px 4px;
    width:60px;
    height:40px;
    transition: border 0.2s ease-in;
}
.is-active {
    border:1px solid red;
}
/*.details {
    color:white;
    font-size:12px;
    margin-bottom:10px;
}
.button{
    display: inline-block;
    text-decoration: none;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}
.button:disabled {
    cursor: default !important;
    color: #aaa !important;
}
.button.grey{
    background: #bdbdbd;
    background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
  /*  background: -moz-linear-gradient(top,  #cacaca, #aeaeae);
    border-color: #b5b5b5 #a1a1a1 #8f8f8f;
    color: #555;
    text-shadow: 0 1px 0 #d4d4d4;
}
.button.grey:hover{
    background: #c2c2c2;
    background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /*  WebKit */
 /*   background: -moz-linear-gradient(top,  #bcbcbc, #c2c2c2);
    border-color: #989898 #8e8e8e #878787;
    text-shadow: 0 1px 0 #dadada;
}
*/
/* override default controls */
.rn-carousel-control {
    font-size:50px !important;
    color:white;
    opacity: 1;
}
.rn-carousel-control.rn-carousel-control-prev {
    left: 5px;
}
.rn-carousel-control.rn-carousel-control-next {
    right: 5px;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

    /*******************************************
    // Profile details view Styles
    //
    *******************************************/
    /* Layout with grid! tbd */

    #detailsWrapper {
        color: #DBDBDB;
        position: absolute;
        /*height: inherit;*/
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.4em;
    }

    #detailsWrapper a {
        cursor: pointer;
        color: #00A1B5;
    }


    #detailsWrapper div,
    #detailsWrapper p,
    #detailsWrapper span,
    #detailsWrapper h1,
    #detailsWrapper h2,
    #detailsWrapper h3,
    #detailsWrapper h4,
    #detailsWrapper h5,
    #detailsWrapper h6,
    #detailsWrapper a {
        font-size: 100%;
        vertical-align: baseline;
        font-style: normal;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.5em;
    }


    #detailsWrapper h1,
    #detailsWrapper h2,
    #detailsWrapper h3,
    #detailsWrapper h4,
    #detailsWrapper h5,
    #detailsWrapper h6 {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }

    #detailsWrapper #detailsPanel h3 {
        font-weight: 700;
        font-size: 1.1em;
        text-shadow: 0px 1px 0px #000;
        color: #BCBCBC;
        margin: 0 0 10px 0;
    }

    #detailsWrapper #detailsPanel {
        width: 500px;
        height: 100%;
        overflow-y:auto;
        /*background-color: #666666;*/
        /*background-color: #202121;*/
        background-color: #b7bcbc;
        position: relative;
        float: left;
        padding: 10px;
        box-sizing: border-box;
        /*-webkit-transition: opacity 0.3s linear;  */
    }

    #detailsWrapper #profile-details {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        width: 100%;
        background-color: #434747;
        margin: 0px 0px 0px 0px;
        overflow: auto;
        color: #ababab;
        box-sizing: border-box;
        padding: 10px;
        font-size: 12px;
    }

    #detailsWrapper #profile-details img {
        width: 19px;
        height: 19px;
        position: relative;
        top: 5px;
    }

    #detailsWrapper #profile-details h3{
        display: inline-block;
        margin: 0px 5px 5px 0px;
        /*color: #8AD9DD;*/
        color: white;
        font-size: 1.5em;
        font-weight: 300;
    }

    #detailsWrapper #profile-details .col-left {
        position: relative;
        /*float: left;*/
        width: 60%;
        margin-right: 5%;
        height: 100%;
        display: inline-block;
    }

    #detailsWrapper #profile-details .col-right {
        position: relative;
        /*float: right;*/
        width: 34%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
    }

    #detailsWrapper #profile-details .profile-actions {
        width: 100%;
        overflow: auto;
    }

    #detailsWrapper #profile-details .profile-actions img {
        width: auto;
         height: auto;
         position: auto;
         top: 0px;
         margin-right:6px;
    }


    #detailsWrapper #profile-details .col-right button,
    #detailsWrapper #profile-details .col-right a {

        position: relative;
        float: right;
    }

    #detailsWrapper #profile-details button[type="button"] {
        width: auto;
        background-color: #008C9E;
        color: #FEFEFE;
        border: none;
        border-bottom: 4px solid #005F6B;
        padding: 6px 8px;
        cursor: pointer;
    }

    #detailsWrapper #profile-details button[type="button"]:hover {
        background-color: #00AABF;
        border-bottom: 4px solid #007786;
        cursor: pointer;
    }

    #detailsWrapper #age-location {
        margin-top: 0;
        margin-bottom: 10px;
        color: #ababab;
    }

    #detailsWrapper #user-dancecard-count {
        position: relative;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

    #detailsWrapper #user-dancecard-count .dancecard-indicator{
        width: 19px;
        height: 19px;
        border-radius: 50%;
        border: 1px solid gray;
        display: inline-block;
        position: relative;
        float: right;
        margin-left: 5px;
    }

    #detailsWrapper .sbe-dancecard-fill {
        background-color: #2B2E2E;
    }

    #detailsWrapper #user-dancecard-count p {
        text-align: right;
        margin: 10px 0 5px 0;
        color: #DBDBDB;
    }


    #detailsWrapper #mutual-wrapper {

        width: 100%;
        /*height: 300px;
        background-color: rgba(255,255,255,1);
        margin: 5px 0px 5px 0px;
        overflow: hidden;
        /*height: 75px;*/
    }


    #detailsWrapper #mutual-content {
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        width: 100%;
    }

    #detailsWrapper .mutual-item {
        /*border-radius: 37px; */
        background-color: rgba(240,240,240,0.6);
        /*margin: 5px;*/
        /*position: relative;*/
        /*float: left;*/
        /*border-bottom: 2px solid gray;*/
        /*width: 225px;*/
        width: 100%;
        margin-bottom: 10px;

    }

    #detailsWrapper .mutual-item-article, .mutual-item-song {
        height: 80px;
        width: 100%;
    }

    #detailsWrapper .mutual-item-video-normal {
        height: 176px;
        width: 100%;
    }

    #detailsWrapper .mutual-item-video-wide {
        height: 132px;
        width: 100%;
    }

    #detailsWrapper #profile-interests-viz {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        width: 100%;
        background-color: #434747;
        /*background-color: #2C3030;*/
        margin: 0px 0px 0px 0px;
        overflow: auto;
        color: #ababab;
        box-sizing: border-box;
        padding: 10px;
    }

    #detailsWrapper .horizontal-line {
        width: 100%;
        height: 1px;
        background-color: #141616;
        border-bottom: 1px solid #535959;
        margin: 10px 0 0 0;
    }


    #detailsWrapper .cell {
            border: 2px solid white;
            color: white;
            word-wrap: break-word;
        }

    #detailsWrapper .label-text {
        margin: 5px 0px 0px 5px;
        font-family: sans-serif;
    }

    #detailsWrapper .msg-icon {
        width: 13px;
        height: 13px;
        margin-top: 3px;
        background: #434747 url('http://www.microcake.org/sidebardating/message.png') no-repeat 0 0;
        display: inline-block;
    }

    #detailsWrapper .msg-icon:hover {
        background: #434747 url('http://www.microcake.org/sidebardating/message.png') no-repeat 0 -13px;
    }

	</style>

        <ul style="margin-bottom: 10px" rn-carousel  rn-carousel-indicator rn-carousel-control rn-carousel-index="" class="my-slider ng-cloak">

            <li ng-repeat="image in profile.selectedProfile.imageurls" ng-style="{'background-image': 'url(' + image + ')'}">
                <!-- <div class="debug">
                    {{ image}} / {{ profile.selectedProfile.imageurls.length }}
                </div> -->
            </li>
        </ul>

 		 <div id="profile-details">
            <div class="col-left">
                <h3>{{profile.selectedProfile.username}}</h3>
                <a ng-show="showMessageButton()" ui-sref="main.messages" class="msg-icon"><!-- <img ng-src="http://localhost:3000/message/message.png" /> --></a>
                <p id="age-location">{{profile.selectedProfile.age}}, {{profile.selectedProfile.location_city}}, {{profile.selectedProfile.location_state}}</p>
    	 		<p>{{profile.selectedProfile.personal_blurb}}</p>
            </div>
            <div class="col-right">
                <div class="profile-actions">
                     <button type="button"
                        ng-show="showAddButton()"
                        ng-click="updateDancecard(profile.selectedProfile, 'added')"><img src="http://www.microcake.org/sidebardating/add.png">Add to Card</button>

                    <button type="button"
                            ng-show="showRemoveButton()"
                            ng-click="updateDancecard(profile.selectedProfile, 'removed')"><img src="http://www.microcake.org/sidebardating/remove.png">Remove From Card</button>

                    <a ng-show="isSelf()"
                        ui-sref='main.detailsPanel'>Edit</a>
                </div>

                <div id="user-dancecard-count" ng-hide="isSelf()">
                    <p>{{profile.selectedProfile.username}}'s Dance Card </p>
                    <div class="dancecard-indicator" ng-class="{'sbe-dancecard-fill': profile.selectedProfile.dancecard_count >= 5}">
                    </div>
                    <div class="dancecard-indicator" ng-class="{'sbe-dancecard-fill': profile.selectedProfile.dancecard_count >= 4}">
                    </div>
                    <div class="dancecard-indicator" ng-class="{'sbe-dancecard-fill': profile.selectedProfile.dancecard_count >= 3}">
                    </div>
                    <div class="dancecard-indicator" ng-class="{'sbe-dancecard-fill': profile.selectedProfile.dancecard_count >= 2}">
                    </div>
                    <div class="dancecard-indicator" ng-class="{'sbe-dancecard-fill': profile.selectedProfile.dancecard_count >= 1}">
                    </div>
                </div>
            </div>
	 		<!-- <p>{{profile.selectedProfile | json}}</p> -->
            <div class="horizontal-line">
            </div>
	 	</div>

        <div id="profile-interests-viz">
            <h3>Interested In</h3>
<!--
            {{treemapData}} -->
            <div tree-map data="treemapData">
            </div>

            <div class="horizontal-line">
            </div>
            <!-- <div tree-map data="{{treemapData}}">
            </div> -->
            <script>
        //         // var color = d3.scale.category10();
        //         //console.log(color());
        //         // console.log({{treemapData}});
        //         var w = 480, h = 200;
        //         var BORDER = 2;
        //         var canvas = d3.select("#profile-interests-viz").append("div")
        //             .style("width", w + "px")
        //             .style("height", h + "px")
        //             .style("position", "relative")

        // d3.json(chrome.extension.getURL("mydata.json"), function (data) {
        //     console.log(data);
        //     var treemap = d3.layout.treemap()
        //         .size([w,h])
        //         .nodes(data);

        //     console.log(treemap);

        //     var cells = canvas.selectAll(".cell")
        //         .data(treemap)
        //         .enter()
        //         .append("div")
        //         .attr("class", "cell")
        //         .style("width", function(d) {return d.dx - 2*BORDER + "px"})
        //         .style("height", function(d) { return d.dy - 2*BORDER+ "px"})
        //         .style("top", function(d){ return d.y + "px"})
        //         .style("left", function(d){ return d.x + "px"})
        //         .style("background-color", function(d){ return d.parent ? d.parent.color : d.color})
        //         .style("position", "absolute")

        //         cells.append("p")
        //         .text(function(d){return d.name})
        //         .attr("class", "label-text")

        //         });
        //     </script>
        </div>

<style>
#wrapper {
    width: 90%;
    max-width: 460px;
    min-width: 460px;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}


/*#columns:hover .pin:not(:hover) {
    opacity: 0.4;
}*/

#detailsWrapper #profile-shared-interests {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: #434747;
    margin: 0px 0px 0px 0px;
    overflow: auto;
    color: #ababab;
    box-sizing: border-box;
    padding: 10px;
}

</style>

<div id="profile-shared-interests" ng-hide="isSelf()">
    <h3>Something to talk about - Your mutual browsings</h3>
    <div id="wrapper">
        <div id="columns">
            <div class="pin" ng-repeat='url in sharedInterestData'>
                <div ng-bind-html="url.embed_tag"></div>
            </div>
        </div>
    </div>
</div>


<!--         <div id="mutual-wrapper">
            <h4>Something to talk about - Your mutual browsings</h4>
            <div shared-interests data="sharedInterestData">
                <div id="mutual-content">
                    <div ng-repeat='url in sharedInterestData'>
                        <div class='bg mutual-item mutual-item-article'>
                            <h2><a href="{{url.url}}">{{url.page_title}}</a></h2>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->

<!--  		<div id="mutual-wrapper">
 			<h4>Something to talk about - Your mutual browsings</h4>

            <div id="mutual-content">
                <div class="mutual-item mutual-item-article">
                    Whisper CEO Michael Heyward To Join Us At Disrupt NY 2014
                </div>
                <div class="mutual-item">
                    <iframe src="https://embed.spotify.com/?uri=spotify:track:72DTGt2tVAL6ATVhzVjvkk&theme=white&view=coverart" class="mutual-item-song" frameborder="0" allowtransparency="true"></iframe>
                </div>

     			<div class="mutual-item">
                    <iframe src="https://embed.spotify.com/?uri=spotify:track:72DTGt2tVAL6ATVhzVjvkk&theme=white&view=coverart" width="235" height="310" frameborder="0" allowtransparency="true"></iframe>
     			</div>
     			<div class="mutual-item mutual-item-video-normal">
                    <iframe class="mutual-item-video-normal" src="//www.youtube.com/embed/fNdO-hRQgqg" frameborder="0" allowfullscreen></iframe>
     			</div>
     			<div class="mutual-item">
                    <iframe class="mutual-item-song" src="https://rd.io/i/Rl5nGKIrUGz_EQ/" frameborder="0"></iframe>
     			</div>
                <div class="mutual-item">
                    <iframe width="235" height="235" src="https://rd.io/i/Rl5nGKIrUGz_EQ/" frameborder="0"></iframe>
                </div>

                <div class="mutual-item mutual-item-video-normal">
                    <iframe src="//player.vimeo.com/video/40007369" class="mutual-item-video-normal" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <div class="mutual-item mutual-item-video-wide">
                    <iframe src="http://embed.ted.com/talks/james_patten_the_best_computer_interface_maybe_your_hands.html" width="235" height="132" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                </div>

                <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/99095518&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
 		</div>  -->


