<style>
#sbe-sidebar .survey-wrapper {
	width: 100%;
	padding-top:90px;
}

#sbe-sidebar .survey-info {
	padding: 10px;
	box-sizing: border-box;
}

#sbe-sidebar .survey-info textarea {
	width: 97%;
	height: 100px;
}

#sbe-sidebar .survey-info button {
	width: 48%;
	position: relative;
	float: left;
}

#sbe-sidebar .survey-info input[type='submit'] {
	width: 48%;
	position: relative;
	float: right;

	background-color: #008C9E;
	color: #DBDBDB;
	border: none;
	border-bottom: 4px solid #005F6B;
	padding: 10px 5px;
	font-weight: normal;
}

#sbe-sidebar .survey-info input[type='submit']:hover {
	background-color: #00AABF;
	border-bottom: 4px solid #007786;
}

#sbe-sidebar .survey-cancel-btn {
	width: 48% !important;
	background-color: #666666 !important;
	border-bottom: 4px solid #444444 !important;
}

.survey-cancel-btn:hover {
	width: 48% !important;
	background-color: #797979 !important;
	border-bottom: 4px solid #565656 !important;
}

#sbe-sidebar .survey-heading {
	font-weight: 700;
	font-size: 1.1em;
	text-shadow: 0px 1px 0px #000;
	color: #BCBCBC;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#sbe-sidebar .survey-heading h3 {
	margin: 0;
	padding: 10px;
	text-align: center;
}

#sbe-sidebar #free-reasons {
	margin: 5px 0 15px 0;
}

#sbe-sidebar .free-reasons-label {
	margin: 15px 0 0 0 ;
	display: block;
}

</style>
<div class="survey-wrapper" ng-cloak>
	<div class="survey-heading sidebar-visitorsTitle">
		<h3>Why Didn't It Work Out With {{username}}?</h3>
		<div class="horizontal-line">
		</div>
	</div>

	<form class="survey-info">
		<div class="checkbox-row">
			<input id="no-chemisty" type="checkbox" ng-model="survey.chemistry" />
			<label for="no-chemistry">No Chemistry</label>
		</div>
		<div class="checkbox-row">
			<input id="goals" type="checkbox" ng-model="survey.goals" />
			<label for="goals">Different Goals</label>	
		</div>
		<div class="checkbox-row">
			<input id="personality" type="checkbox" ng-model="survey.personality" />
			<label for="personality">Personality</label>	
		</div>
		<div class="checkbox-row">
			<input id="conversation" type="checkbox" ng-model="survey.conversation" />
			<label for="conversation">Poor Conversation</label>	
		</div>
		<div class="checkbox-row">
			<input id="different" type="checkbox" ng-model="survey.different" />
			<label for="different">Different in Person</label>	
		</div>
		<div class="checkbox-row">
			<input id="different" type="checkbox" ng-model="survey.different" />
			<label for="different">Didn't Add Back</label>	
		</div>

		<label class="free-reasons-label" for="free-reasons">Want to elaborate?</label>
		<textarea id="free-reasons" placeholder="This message will be sent to the other user"></textarea>
		
		<button class="survey-cancel-btn" type="button" ng-click="cancel()">Cancel</button>
		<input type="submit" class="survey-submit-btn" value="Submit" ng-click="submitSurvey()"/>
	</form>
</div>