
<style>
	#sidebar input[type='submit'] {
		width: 100%;
		background-color: #008C9E;
		color: #DBDBDB;
		border: none;
		border-bottom: 4px solid #005F6B;
		padding: 10px 5px;
	}

	#sidebar input[type='submit']:hover {
		background-color: #00AABF;
		border-bottom: 4px solid #007786;
	}

</style>
<div class="signup-heading">
	<a class="back" ui-sref="sign-up-0">Back</a>
	<h4>Introduce Yourself</h4>
</div>

<div class="signup-wrapper">

	<div id="signup-photo-preview">
		<img ng-src="{{ user.mediumImageUrl[0] }}" />
	</div>
	<div class="fileUpload">
		<span>Upload a Photo</span>
		<input type="file" ng-file-select="onFileSelect($files)" class="upload" multiple />
	</div>
	
	<form class="signup-info">
		<input type="text" placeholder="First Name" ng-model="user.username" required/>
		<input type="email" placeholder="Email Address" ng-model="user.email" required/>
		<input type="password" placeholder="Password" ng-model="user.password" required/>
		<input type="submit" value="Continue" ng-click="goToSignupStep2()"/>
	</form>

	{{user | json}}

	{{pref | json}}
</div> 