<style>

	#sbe-sidebar input[type='submit'] {
		width: 100%;
		background-color: #008C9E;
		color: white;
		border: none;
		border-bottom: 4px solid #005F6B;
		padding: 10px 5px;
		font-size: 1em;
	}

	#sbe-sidebar input[type='submit']:hover {
		background-color: #00AABF;
		border-bottom: 4px solid #007786;
	}

	#personal_blurb {
		color: #333333;
		outline: none;
		box-sizing: border-box;
	}

	.blurb_length {
		font-size: 10px;
		float: right;
		margin: -10px 0 15px 0;
	}

	#sbe-zipcode {
		margin-bottom: 0;
	}

	#sbe-sidebar .sidebar-back {
		margin-left: 0;
	}

	#sbe-sidebar select {
   		line-height: 1.4;
		background-color: #008C9E;
		color: white;
		border: none;
		padding: 10px 5px;
		font-size: 14px;
	}

</style>

<div class="signup-heading" ng-cloak>
	<a class="back sidebar-back" ui-sref="sign-up-1"></a>
	<h4>Tell Us About Yourself</h4>
</div>

<div class="signup-wrapper" ng-cloak>

	<div id="signup-photo-preview">
		<img ng-src="{{ user.displayImage }}" />
	</div>
			<h4 id="username-header" >{{user.username}}</h4>
	<form class="signup-info" name="userForm" ng-submit="submit()">
		<label for="dob">Birth Date</label>
		<div id="select-dob">
			<select id="dob-month" name="dob" ng-model="user.dob_month" ng-options="month for month in month_options">
				<option value="">MM</option>
			</select>
			<select id="dob-day" name="dob" ng-model="user.dob_day" ng-options="day for day in day_options">
				      <option value="">DD</option>
			</select>
			<select id="dob-year" name="dob" ng-model="user.dob_year" ng-options="year for year in year_options">
				<option value="">YYYY</option>
			</select>
		</div>
		<select ng-model="user.gender" ng-options="gender.value as gender.name for gender in gender_options" required>
			<option value="">Gender</option>
		</select>
		<input id="sbe-zipcode" type="text" placeholder="Zipcode" ng-model="user.zipcode" required />
		<span id="sbe-location-preview"></span><br><br>

		<label for="personal_blurb">What are your interests?</label>
		<textarea id="personal_blurb" placeholder="I'm interested in..." maxlength="140" minlength="1" required ng-model="user.personal_blurb" >
		</textarea>
		<label for="personal_blurb" class="blurb_length">{{ user.personal_blurb.length || '0' }}/140 Characters</label>
		<input type="submit" value="Continue." ng-click="goToSignupStep3(userForm)"/>
	</form>

<!-- 	{{user | json}}

	{{pref | json}} -->

</div>
<script>

	$('#sbe-zipcode')
    .ziptastic()
    .on('zipChange', function(event, country, state, city, zip) {
        // Use the data...
        $('#sbe-location-preview').html(city + ", " + state + ', ' + country);
    });

</script>
