<style>
	.signup-wrapper {
		position: relative;
		top: 50px;
	}
</style>
<div class="signup-wrapper" ng-cloak>

	<div id="logo-signup">
		<img src="http://www.microcake.org/sidebardating/sidebar-logo.png">
	</div>
	<div id="tagline-signup">
		<p>Designed Serendipity for Meeting People </p>
	</div>

	<p class="explain-signup">Make the Internet your playground!<br /> Join Sidebar now and meet people while you browse the Internet</p>

	<button class="signup-button" type="button" ng-click="beginSignup()">Sign Up</button>
	<p class="login-toggle">Already have an account? <a ui-sref="login">Log In</a>

</div>