<div id="injected-content" >
<link id="normalize" rel="stylesheet" type="text/css" />
<link id="flexslider2" rel="stylesheet" type="text/css" />
<link id="angular-carousel-css" rel="stylesheet" type="text/css" />
<!-- <link id="bootstrap" rel="stylesheet" type="text/css" /> -->
<style>
	
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

	/*p {
		margin: 0px;
	}*/

	#sidebar a {
		cursor: pointer;
	}

	#injected-wrapper {
		/*background-color: rgba(255,100,100, 0.5);*/
		/*width: 300px;*/
		height: 100%;
		z-index: 100000;
		position: fixed;
		top: 0px;
		color: black;
		text-align: left;
		margin: 0px;
	}

	#tabControl {
		background-color: #CCC;
		width: 20px;
		height: 40px;
		position: relative;
		float: left;
		top: 65px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		/*box-shadow: 1px 4px 20px #333333;*/
	}

	#arrow-icon {
		display: block;
		height: 20px;
		width: 20px;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;

	}

	#profile-icon {
		display: block;
		height: 25px;
		width: 25px;
		margin: auto;

	}

	#close-action {
		z-index: 10;
		position: absolute;
		right: 0px;
		top: 0px;
		margin: 10px;
	}

	#close-icon {
		height: 16px;
		width: 16px;
	}

	#home-action {
		z-index: 10;
		position: absolute;
		left: 0px;
		top: 0px;
		margin: 10px;
	}

	#home-icon {
		height: 16px;
		width: 16px;
	}

	#detailsPanel {
		width: 500px;
		height: 100%;
		overflow-y:auto;
		background-color: rgba(200,200,200,0.9);
		position: relative;
		float: left;
		padding: 15px;
		box-sizing: border-box;

	}

	#sidebar {
		color: #DBDBDB;
		background-color: #343838;
		position: relative;
		float: right;
		width: 260px;
		height: inherit;
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-size: 13px;
		line-height: 1.4em;
		border-left: 1px solid #666666;
		/*font-weight: 300;*/
		/*letter-spacing: .03em;*/
	}

	#sidebar button {
		width: 100%;
		background-color: #008C9E;
		color: #DBDBDB;
		border: none;
		border-bottom: 4px solid #005F6B;
		padding: 10px 5px;
		font-weight: normal;
	}

	#sidebar button:hover {
		background-color: #00AABF;
		border-bottom: 4px solid #007786;
	}

	#sidebar .back {
		position: absolute;
		left: 15px;
		cursor: pointer;
	}

	.show-sidebar {
		right: 0px;
	}

	.tuck-sidebar {
		right: -260px;
	}

	#top-menu {
		width: inherit;
		text-align: center;
		color: black;
		margin-bottom: 10px;
	}

	#top-menu a {
		color: white;
	}

	/*******************************************
	// Profile list view item Styles 
	//
	*******************************************/


	.profile {
		width: 100%;
		height: 48px;
		overflow: hidden;
		margin-bottom: 10px;
	}

	.isSelected {
		background-color: gray;
	}

	.profile img {
		width: 48px;
		height: 48px;
		position: relative;
		float: left;
		margin-right: 10px;
		border-radius: 24px;
	}
	
	.meetingspace {
		width: 100%;
		overflow: hidden;
		/*margin-bottom: 10px;*/
	}



	/*******************************************
	// Profile dancecard view Styles 
	//
	*******************************************/

	#dance-card-preview {
		width: 100%;
		overflow: hidden;
		/*margin-bottom: 10px;*/
	}


	.dance-card-preview-img {
		position: relative;
		float: left;
		height: 36px;
		width: 36px;
		margin: 10px 10px 10px 0px;
		border: 1px solid gray;
		background-color: rgba(255,255,255, 1);
		border-radius: 50%;
	}

	.dance-card-preview-img img{
		border-radius: 50%;
		height: 36px;
		width: 36px;
		bottom: 0px;
	}

	.danceCardPreviewLast {
		margin-right: 0px;
	}


	.vertical-line {
		width: 90%;
		height: 1px;
		background-color: white;
		border-bottom: 1px solid gray;
		margin: auto;
	}

	.hide {
		display: none;
	}

	.carousel-indicators {
		bottom: -5px;
	}

	/*******************************************
	// Messaging Styles 
	//
	*******************************************/

/*	::-webkit-scrollbar {
	    -webkit-appearance: none;
	    width: 7px;
	}
	::-webkit-scrollbar-thumb {
	    border-radius: 4px;
	    background-color: rgba(0,0,0,.5);
	    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
	}
*/
	#messageWrapper {
		position: absolute;
		width: 220px;
		height: 575px;
	}

	#messages {
      width: 100%;
      height: 500px;
      background-color: rgba(255,255,255,0.5);
      margin-top: 10px;
      overflow: scroll;
    }

    #bottom {
    	position: absolute;
    	bottom: 0px;
    }

    #createMessage {
      width: 100%;
      background-color: black;
/*      position: absolute;
      bottom: 0px;
      margin: 0px;*/
    }

    .message {
      position: relative;
      padding: 5px;
      margin-bottom: 5px;
      width: 80%;
      border-radius: 10px;
    }

    .sent {
      float: right;
      background-color: green;
    }

    .received {
      float: left;
      background-color: yellow;
    }

    .timestamp {
      width: 100%;
      position: relative;
      float: left;
      text-align: center;
      margin-bottom: 5px;
    }

    /*******************************************
	// Signup Styles 
	//
	*******************************************/
    .signup-wrapper, .login-wrapper {
    	width: 100%;
/*    	position: relative;
    	top: 50px;*/
    	padding: 15px 15px 0 15px;
    	box-sizing: border-box;
    }

    #logo-signup, #logo-login {
    	height: 150px;
    	width: 150px;
    	position: relative;
    	margin: auto;
    	border-radius: 50%;
    	background-color: rgb(255,75, 75);
    }

   #tagline-signup, #tagline-login, #username-header {
   		color: #DBDBDB;
   		text-align: center;
   }

   .explain-signup, 
   .explain-login {
   		color: #DBDBDB;
   		text-align: left;
   		margin: 20px 0;
   }

   .signup-button, .login-button, .signup-wrapper button{
   		width: 88%;
   		display: block;
   		position: relative;
   		margin: auto;
   		margin-bottom: 10px;
   }

   .login-toggle {
   		text-align: center;
   		font-size: 10px;
   }

/*************** signup 1 *************************/

   .signup-heading {
   	width: 100%;
   	height: 45px;
   	/*background-color: #008C9E;*/
   	text-align: center;
   	padding: 15px;
   	box-sizing: border-box;
   	border-bottom: 1px solid #555555;
   }

   .signup-heading h4 {
   	color: white;
   	margin: 0;
   	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   	font-weight: bold;
   }

   #signup-photo-preview {
   		width: 150px;
   		height: 150px;
   		margin: auto;
   		margin-top: 15px;
   		margin-bottom: 15px;
   		border: 3px solid gray;
   		border-radius: 50%;
   }

   #signup-photo-preview img {
   		border-radius: 50%;
   }

   .signup-info, 
   .login-form {
   	margin-top: 15px;
   	width: 100%;
   	height: 100%;
   }

   .signup-info input:focus, 
   .login-form input:focus { 
   	outline: none; 
   }

   .signup-info input[type='text'],
   .signup-info input[type='email'],
   .signup-info input[type='password'],
   .login-form input[type='text'],
   .login-form input[type='email'],
   .login-form input[type='password'] {
    padding: 3px;
    color: #333333;
    box-sizing: border-box;
   }

   .signup-info input[type='checkbox'] {
   	 position: relative;
   	 float: left;
   	 width: 15px;
   	 height: 15px;
   	 margin: 2px 5px 0px 0px;
   }

   .checkbox-row {
   	width: 100%;
   	height: 25px;
   }

	.signup-info input, .signup-info textarea, .signup-info select, .login-form input{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.signup-info textarea {
		height: 80px;
		resize: none;
	}

	.slider {
		width: 100%;
		height: 20px;
		background-color: none;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#select-dob {
		width: 100%;
	}

	#select-dob select {
		position: relative;
		float: left;
	}

	#dob-month, #dob-day {
		width: 29%;
		margin-right: 3.5%;
	}

	#dob-year {
		width: 35%;
		margin-right: 0px;
	}

</style>

<div id="injected-wrapper" 
	 ng-class="{'show-sidebar': uiState.showSidebar, 'tuck-sidebar': !uiState.showSidebar}" 
	 ng-controller="uiCtrl">


	<div id="tabControl" ng-click="tabAction()">
		<img id="arrow-icon" src="" />
	</div>

	<div id="detailsPanel" ng-show="uiState.showDetailsPanel">
	 	<div ui-view="detailsPanel">
		</div>
	</div>

	<div id="sidebar">
		
		<!-- <div id="close-action">
			<img id="close-icon" />
		</div>

		<div id="home-action">
			<a ui-sref='main.profileList'><img id="home-icon" /></a>
		</div> -->
		<div id="top-menu" ng-show="isSignedIn()" ng-controller="TopMenuCtrl">
			<a ng-click="goBack()">Back</a>
			<a ng-click="goToProfile()" > {{username}}</a>
			<a ng-click="goToNotifications()" >{{ns.unreadCount}} </a>
		</div>
		<div ui-view="sidebar">
		</div>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var normalizeCSS = chrome.extension.getURL("css/normalize.css");
		$("#normalize").attr("href", normalizeCSS);

		var flexSlider2 = chrome.extension.getURL("css/flexslider.css");
		$("#flexslider2").attr("href", flexSlider2);

		var angularCarousel = chrome.extension.getURL("css/angular-carousel.css");
		$("#angular-carousel-css").attr("href", angularCarousel);

		// var bootstrapCSS = chrome.extension.getURL("lib/bootstrap-3.1.1-dist/css/bootstrap.min.css");
		// $("#bootstrap").attr("href", bootstrapCSS);

		// arrowLeftIconURL = chrome.extension.getURL("icons/icon_22996/icon_22996.png");
		var arrowRightIconURL = chrome.extension.getURL("icons/icon_22997/icon_22997.png");
		 $("#arrow-icon").attr("src", arrowRightIconURL);

		var profileIconURL = chrome.extension.getURL("icons/icon_15724/icon_15724.png");
		$("#profile-icon").attr("src", profileIconURL);

		var closeIcon = chrome.extension.getURL("icons/icon_25798/icon_25798.png");
		$("#close-icon").attr("src", closeIcon);

		var homeIcon = chrome.extension.getURL("icons/icon_11757/icon_11757.png");
		$("#home-icon").attr("src", homeIcon);

	});

	$("#close-icon").click(function(){
		chrome.runtime.sendMessage({type: "close-sidebar"}, function(response) {
		  console.log(response.sidebar);
		});
	});

</script>
</div>