<div id="injected-content" >
<link id="angular-carousel-css" rel="stylesheet" type="text/css" />
<!-- <link id="bootstrap" rel="stylesheet" type="text/css" /> -->
<style>
	
	@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

	@font-face {
	    font-family: 'Normal'; 
	    src: url('http://www.microcake.org/sidebardating/Normal.ttf'); 
	}
	@font-face {
	    font-family: 'Light'; 
	    src: url('http://www.microcake.org/sidebardating/Light.ttf'); 
	}

	@font-face {
		font-family: 'Book';
		src: url('http://www.microcake.org/sidebardating/Book.ttf');
	}

	@font-face {
		font-family: 'Heavy';
		src: url('http://www.microcake.org/sidebardating/Heavy.ttf');
	}

	#sidebar a {
		cursor: pointer;
		color: #00A1B5;
	}

	#injected-wrapper {
		/*background-color: rgba(255,100,100, 0.5);*/
		/*width: 300px;*/
		height: 100%;
		width: 780px;
		z-index: 2000000100;
		position: fixed;
		overflow: hidden;
		right: 0px;
		top: 0px;
		color: black;
		text-align: left;
		margin: 0px;
	}

	#detailsWrapper {
		height: 100%;
		width: 520px;
		position: absolute;
		/*right: 260px;*/
		-webkit-transition: -webkit-transform 0.5s ease;	
		/*-webkit-transition: -webkit-transform 1s ease;	*/
	}

	#detailsContent {

		-webkit-transition: opacity 0.5s ease;	
	}

	.show-detailsPanel {
		/*right: 260px;*/
		-webkit-transform: translateX(0px);
	}

	.show-tabOnly {
		/*right: -500px;*/
		-webkit-transform: translateX(760px);
		-webkit-animation:tuckDetails 1s 1;
	}

	.tuckDetails {
		/*right: -240px;*/
	 	-webkit-transform: translateX(760px);
	 	-webkit-animation:tuckDetails 1s 1;
	}

	.revealDetails {
		/*right: -240px;*/
	 	-webkit-transform: translateX(500px);
	 	-webkit-animation:revealDetails 1s 1;
	}



	.initDetails {
		/*right: -240px;*/
		-webkit-transform: translateX(500px);
		-webkit-animation:initDetails 1s 1;
	}

	.openDetails {
		/*right: 260px;*/
		-webkit-transform: translateX(0px);
		-webkit-animation:openDetails 1s 1;
	}

	.closeDetails {
		/*right: -240px;*/
		-webkit-transform: translateX(500px);
		-webkit-animation:closeDetails 1s 1;
	}

	.shutdownDetails {
		/*right: -20px;*/
		-webkit-transform: translateX(780px);
	}

	@-webkit-keyframes initDetails{
/*	  from{right:260px;}
	  to{right:-240px;}*/
	  from{-webkit-transform:translateX(780px);}
	  to{-webkit-transform: translateX(500px);}
	}

	@-webkit-keyframes tuckDetails{
/*	  from{right:260px;}
	  to{right:-240px;}*/
	  from{-webkit-transform:translateX(500px);}
	  to{-webkit-transform: translateX(760px);}
	}

	@-webkit-keyframes revealDetails{
/*	  from{right:260px;}
	  to{right:-240px;}*/
	  from{-webkit-transform:translateX(760px);}
	  to{-webkit-transform: translateX(500px);}
	}

	@-webkit-keyframes openDetails{
/*	  from{right:-240px;}
	  to{right:260px;}*/
	  from{-webkit-transform: translateX(500px);}
	  to{-webkit-transform: translateX(0px);}
	}

	@-webkit-keyframes closeDetails{
/*	  from{right:260px;}
	  to{right:-240px;}*/
	  from{-webkit-transform:translateX(0px);}
	  to{-webkit-transform: translateX(500px);}
	}


	#tabControl {
		background-color: #CCC;
		width: 20px;
		height: 40px;
		position: relative;
		float: left;
		top: 65px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		/*box-shadow: 1px 4px 20px #333333;*/
	}

	.on {
		opacity: 1.0;
		-webkit-animation:fadeIn 1s 1;

	}

	.off {
		opacity: 0.0;
		-webkit-animation:fadeOut 1s 1;
	}

	.change {
		/*opacity: 1.0;*/
		-webkit-animation:fadeOutIn 1s 1;
	}

	@-webkit-keyframes fadeIn{
/*	  from{right:260px;}
	  to{right:-240px;}*/
	  from{opacity: 0;}
	  to{opacity: 1.0;}
	}

	@-webkit-keyframes fadeOutIn {
		/*0% { opacity: 1.0;}*/
		50% { opacity: 0; }
		/*100% { opacity: 1.0;}*/
	}

	@-webkit-keyframes fadeOut{
/*	  from{right:260px;}
	  to{right:-240px;}*/
	  from{opacity: 1.0;}
	  to{opacity: 0;}
	}

	#sidebar {
		color: #DBDBDB;
		background-color: #343838;
		/*position: relative;*/
		/*float: right;*/
		position: absolute;
		/*right: 520px;*/
		/*-webkit-transform: translateX(780px);*/
		width: 260px;
		height: inherit;
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-size: 12px;
		line-height: 1.4em;
		overflow-y: auto;
		/*border-left: 1px solid #666666;*/
		-webkit-transition: -webkit-transform 0.5s ease;
		/*font-weight: 300;*/
		/*letter-spacing: .03em;*/
	}


/*	.initPanel {
		/*right: -240px;*/
	/*	-webkit-transform: translateX(520px);
		-webkit-animation:initPanel 1s 1;
	}*/

	.openPanel {
		/*right: 260px;*/
		-webkit-transform: translateX(520px);
		-webkit-animation:openPanel 1s 1;
	}

	.closePanel {
		/*right: -240px;*/
		-webkit-transform: translateX(780px);
		-webkit-animation:closePanel 1s 1;
	}

	.shutdownPanel {
		/*-webkit-transform: 780px;
		-webkit-animation:closePanel 0.5s 1;*/
		right: 0px;
	}

/*	@-webkit-keyframes initPanel{
/*	  from{right:260px;}
	  to{right:-240px;}*/
/*	  from{-webkit-transform:translateX(780px);}
	  to{-webkit-transform: translateX(520px);}
	}*/

	@-webkit-keyframes openPanel{
		from{-webkit-transform: translateX(780px);}
		to{-webkit-transform: translateX(520px);}
	}

	@-webkit-keyframes closePanel{
		from{-webkit-transform: translateX(520px);}
		to{-webkit-transform: translateX(780px);}
	}

	.show-sidebar {
		/*right: 0px;*/
		-webkit-transform: translateX(520px);
		/*-webkit-animation: openPanel 1s 1;*/
		/*width: 260px;*/
	}

	.tuck-sidebar {
		right: -261px;
		/*width: 0px;*/
	}


	#arrow-icon {
		display: block;
		height: 20px;
		width: 20px;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;

	}

	#profile-icon {
		display: block;
		height: 25px;
		width: 25px;
		margin: auto;

	}

	#close-action {
		z-index: 10;
		position: absolute;
		right: 0px;
		top: 0px;
		margin: 10px;
	}

	#close-icon {
		height: 16px;
		width: 16px;
	}

	#home-action {
		z-index: 10;
		position: absolute;
		left: 0px;
		top: 0px;
		margin: 10px;
	}

	#home-icon {
		height: 16px;
		width: 16px;
	}

	#sidebar button {
		width: 100%;
		background-color: #008C9E;
		color: #DBDBDB;
		border: none;
		border-bottom: 4px solid #005F6B;
		padding: 10px 5px;
		font-weight: normal;
	}

	#sidebar button:hover {
		background-color: #00AABF;
		border-bottom: 4px solid #007786;
	}

	#sidebar .back {
		position: absolute;
		left: 15px;
		cursor: pointer;
	}


	.show-sidebar {
		right: 0px;
	}

	.tuck-sidebar {
		right: -240px;
	}

	#top-menu {
		width: inherit;
		text-align: center;
		margin: 0;
		padding: 5px 0;
		box-sizing: border-box;
		background-color: #2B2E2E;
	}

	#top-menu a {
		color: white;
	}

	/*******************************************
	// Profile list view item Styles 
	//
	*******************************************/


	#sidebar .profile {
		width: 100%;
		height: 62px;
		overflow: hidden;
		padding: 7px 0;
		-webkit-box-shadow: inset 0px -1px 0px 0px #464949;
		box-shadow: inset 0px -1px 0px 0px #464949;
		cursor: pointer;
		box-sizing: border-box;
	}

	#sidebar .isSelected {
		background-color: #404242;
		border-right: 3px solid #82CC00;
		box-sizing: border-box;
	}

	.profile img {
		width: 48px;
		height: 48px;
		position: relative;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		border-radius: 24px;
	}
	
	#sidebar .meeting-space {
		width: 100%;
		overflow-y: scroll;
		/*margin-bottom: 10px;*/
		box-sizing: border-box;
	}

	#sidebar .sidebar-visitorsTitle {
		font-weight: 700;
		font-size: 1.1em;
		text-shadow: 0px 1px 0px #000;
		color: #BCBCBC;
	}

	/*******************************************
	// Profile dancecard view Styles 
	//
	*******************************************/


	.horizontal-line {
		width: 100%;
		height: 1px;
		background-color: #141616;
		border-bottom: 1px solid #535959;
		margin: auto;
	}

	.hide {
		display: none;
	}

	.carousel-indicators {
		bottom: -5px;
	}


    /*******************************************
	// Signup Styles 
	//
	*******************************************/
    .signup-wrapper, .login-wrapper {
    	width: 100%;
/*    	position: relative;
    	top: 50px;*/
    	padding: 15px 15px 0 15px;
    	box-sizing: border-box;
    }

    #logo-signup, #logo-login {
    	height: auto;
    	width: 150px;
    	margin: 0 auto;
    }

    #logo-signup img, 
    #logo-login img {
    	width: 100%;
    	height: auto;
    }

   #tagline-signup, 
   #tagline-login, 
   #username-header {
   		color: #DBDBDB;
   		text-align: center;
   }

   #tagline-signup,
   #tagline-login {
   		font-style: oblique;
   }

   .explain-signup, 
   .explain-login {
   		color: #DBDBDB;
   		text-align: left;
   		margin: 20px 0;
   }
   .signup-wrapper button{
   		width: 88%;
   		display: block;
   		position: relative;
   		margin: auto;
   		margin-bottom: 10px;
   }

   .login-toggle {
   		text-align: center;
   		font-size: 12px;
   }

   #sidebar .signup-button, 
   #sidebar .login-button, 
   #sidebar .submit-btn {
		width: 100%;
		background-color: #008C9E;
		color: #FEFEFE;
		border: none;
		border-bottom: 4px solid #005F6B;
		padding: 10px 5px;
		font-size: 1em;
	}

	#sidebar .submit-btn:hover {
		background-color: #00AABF;
		border-bottom: 4px solid #007786;
	}

/*************** signup 1 *************************/

   .signup-heading {
   	width: 100%;
   	height: 45px;
   	/*background-color: #008C9E;*/
   	text-align: center;
   	padding: 15px;
   	box-sizing: border-box;
   	border-bottom: 1px solid #555555;
   }

   .signup-heading h4 {
   	color: white;
   	margin: 0;
   	font-family: 'Book', Helvetica, Arial, sans-serif;
   	font-weight: bold;
   }

   #signup-photo-preview {
   		width: 150px;
   		height: 150px;
   		margin: auto;
   		margin-top: 15px;
   		margin-bottom: 15px;
   		border: 3px solid gray;
   		border-radius: 50%;
   }

   #signup-photo-preview img {
   		border-radius: 50%;
   }

   .signup-info, 
   .login-form {
   	margin-top: 15px;
   	width: 100%;
   	height: 100%;
   }

   .signup-info input:focus, 
   .login-form input:focus { 
   	outline: none; 
   }

   .signup-info input[type='text'],
   .signup-info input[type='email'],
   .signup-info input[type='password'],
   .login-form input[type='text'],
   .login-form input[type='email'],
   .login-form input[type='password'] {
    padding: 5px;
    color: #333333;
    box-sizing: border-box;
   }

   .signup-info input[type='checkbox'] {
   	 position: relative;
   	 float: left;
   	 width: 15px;
   	 height: 15px;
   	 margin: 2px 5px 0px 0px;
   }

   .checkbox-row {
   	width: 100%;
   	height: 25px;
   }

	.signup-info input, .signup-info textarea, .signup-info select, .login-form input{
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.signup-info textarea {
		height: 80px;
		resize: none;
	}

	.slider {
		width: 100%;
		height: 20px;
		background-color: none;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	#select-dob {
		width: 100%;
	}

	#select-dob select {
		position: relative;
		float: left;
	}

	#dob-month, #dob-day {
		width: 29%;
		margin-right: 3.5%;
	}

	#dob-year {
		width: 35%;
		margin-right: 0px;
	}


	.remove-on-drag-area {
		width: 100%;
		position: absolute;
		height: 150px;
		bottom: 0px;
		right: 0px;
		/*background-color: green;*/
		visibility: hidden;
	}

	.showRemoveArea {
		visibility: visible;
		background-color: rgba(200,200,200,0.7);
	}

	#sidebar .sidebar-back {
		width: 13px;
		height: 13px;
		float: left;
		margin-left: 10px;
		margin-top: 3px;
		background: #2B2E2E url('http://www.microcake.org/sidebardating/back-arrow.png') no-repeat 0 0;
	}

	#sidebar .sidebar-back:hover {
		background: #2B2E2E url('http://www.microcake.org/sidebardating/back-arrow.png') no-repeat 0 -13px;
	}

	#sidebar .sidebar-notif {
		width: 20px;
		height: 20px;
		border-radius: 20px;
		background-color: #3B3D3D;
		float: right;
		margin-right: 10px;
		font-size: .8em;
	}

	#sidebar .sidebar-mainUserName {
		color: #44D6E2;
		font-weight: bold;
		font-size: 1.1em;
	}

	#sbe-tutorial-wrapper {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 540px;
		height: 100%;
	}

	#sbe-tutorial-step1 {
		position: relative;
		height: 88px;
		width: 100%;
		/*background-color:  rgba(0,100,0,0.4);*/
	}
	#sbe-tutorial-step2 {
		position: relative;
		height: 392px;
		width: 100%;
		/*background-color:  rgba(0,100,100,0.4);*/
	}
	#sbe-tutorial-step3 {
		position: relative;
		height: 100%;
		width: 100%;
		/*background-color:  rgba(0,0,100,0.4);*/
	}

	.sbe-tutorial {
/*		background-color: gray;
		width: 200px;*/
	}

	.sbe-tutorial-text {
		position: relative;
		float: left;
		width: 260px;
		background-color: white;
		box-shadow: -1px 3px 20px 1px #888888;
		color: black;
		border-radius: 2px
	}

	.sbe-tutorial-text > p{
		margin: 8px;
	}

	.sbe-tutorial-text > svg {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%) translateX(260px);
	}

	.sbe-tutorial-overlay {
		position: relative;
		float: right;
		width: 260px;
		height: 100%;
		opacity: 0.5;
		background-color:  rgb(0,0,0);
	}

	.sbe-deactivated {
		opacity: 0;
	}

/*	.sbe-tutorial-overlay:hover {
		opacity: 0;
	}
*/
	.sbe-pos-step1 {
		-webkit-transform: translateY(20px);
	}

	.sbe-pos-step2 {
		-webkit-transform: translateY(20px);
	}

	.sbe-pos-step3 {
		-webkit-transform: translateY(20px);
	}

</style>

<div id="injected-wrapper" 
	 ng-controller="uiCtrl">

	<div id="detailsWrapper" 
	     class="initDetails" >
	   <!--   ng-class="{'show-detailsPanel': uiState.showDetailsPanel, 
	     			'tuck-detailsPanel': !uiState.showDetailsPanel && uiState.showSidebar,
	     			'show-tabOnly': !uiState.showSidebar && !uiState.showDetailsPanel && uiState.startup}"> -->

		<div id="tabControl" ng-click="tabAction()">
			<img id="arrow-icon" src="" />
		</div>

		<div id="detailsPanel" >
		 	<div id="detailsContent" >
		 		<div ui-view="detailsPanel">
		 		</div>
			</div>
		</div>
	</div>

	<div id="sidebar" 
		 class="openPanel" >
		 <!-- ng-class="{'show-sidebar': uiState.showSidebar, 'tuck-sidebar': !uiState.showSidebar}" > -->
		
		<!-- <div id="close-action">
			<img id="close-icon" />
		</div>

		<div id="home-action">
			<a ui-sref='main.profileList'><img id="home-icon" /></a>
		</div> -->
		<div id="top-menu" ng-show="isSignedIn()" ng-controller="TopMenuCtrl">
			<a ng-click="goBack()" class="sidebar-back"></a>
			<a ng-click="goToProfile()" class="sidebar-mainUserName" > {{username}}</a>
			<!-- <a ng-click="goToHistory()" >History </a> -->
			<a ng-click="goToNotifications()" class="sidebar-notif">{{ns.unreadCount}} </a>
		</div>

		<div ui-view="sidebar">
		</div>

		<div ng-controller="TutorialCtrl">
			<div id="sbe-tutorial-wrapper"  ng-show="firstVisit">

				<div id="sbe-tutorial-step1" class="sbe-tutorial">
					<div class="sbe-tutorial-text sbe-pos-step1" ng-show="step1">
						<p>This is your Dance Card. If you want to message someone or see more detailed profiles, add them to this list. <a ng-click="next()">Next</a></p>
						<svg height="20" width="20">
						  <polygon points="0,0 0,20 20,10" style="fill:rgba(255,255,255,1.0);" />
						</svg>
					</div>
					<div class="sbe-tutorial-overlay" ng-class="{'sbe-deactivated': step1}">
					</div>
				</div>
				<div id="sbe-tutorial-step2" class="sbe-tutorial">
					<div class="sbe-tutorial-text sbe-pos-step2" ng-show="step2">
						<p>Here are a list of other people viewing similar pages to the one you're currently viewing. Click on them to reveal their profile. <a ng-click="next()">Next</a></p>
						<svg height="20" width="20">
						  <polygon points="0,0 0,20 20,10" style="fill:rgba(255,255,255,1.0);" />
						</svg>
					</div>
					<div class="sbe-tutorial-overlay" ng-class="{'sbe-deactivated': step2}">
					</div>
				</div>
				<div id="sbe-tutorial-step3" class="sbe-tutorial">
					<div class="sbe-tutorial-text sbe-pos-step3" ng-show="step3">
						<p>These are people who are slightly outside of what you're looking for, but you might be interested. <a ng-click="next()">Let's Start!</a></p>
						<svg height="20" width="20">
						  <polygon points="0,0 0,20 20,10" style="fill:rgba(255,255,255,1.0);" />
						</svg>
					</div>
					<div class="sbe-tutorial-overlay" ng-class="{'sbe-deactivated': step3}">
					</div>
				</div>
			</div>
		</div>

		<div class="remove-on-drag-area" 
			 ng-class="{'showRemoveArea': showRemove}"
			  ui-on-drop="onDropRemove($event, $data)"
		 	  drag-hover-class="drag-over-accept"
		 	  drop-channel="remove-person"
		>
		{{showRemove}}
		</div>

	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

		var angularCarousel = chrome.extension.getURL("css/angular-carousel.css");
		$("#angular-carousel-css").attr("href", angularCarousel);

		// var bootstrapCSS = chrome.extension.getURL("lib/bootstrap-3.1.1-dist/css/bootstrap.min.css");
		// $("#bootstrap").attr("href", bootstrapCSS);

		// arrowLeftIconURL = chrome.extension.getURL("icons/icon_22996/icon_22996.png");
		var arrowRightIconURL = chrome.extension.getURL("icons/icon_22997/icon_22997.png");
		 $("#arrow-icon").attr("src", arrowRightIconURL);

		var profileIconURL = chrome.extension.getURL("icons/icon_15724/icon_15724.png");
		$("#profile-icon").attr("src", profileIconURL);

		var closeIcon = chrome.extension.getURL("icons/icon_25798/icon_25798.png");
		$("#close-icon").attr("src", closeIcon);

		var homeIcon = chrome.extension.getURL("icons/icon_11757/icon_11757.png");
		$("#home-icon").attr("src", homeIcon);

	});

	$("#close-icon").click(function(){
		chrome.runtime.sendMessage({type: "close-sidebar"}, function(response) {
		  console.log(response.sidebar);
		});
	});

</script>
</div>