@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


* {
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background-color: #DEDEDE;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 1.9em;
	-webkit-font-smoothing: antialiased;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 20px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
}

.right {
	float: right;
}

.left {
	float: left;
}

#navigation {
	color: #E2E2E2;
	font-size: .9em;
	width: 100%;
	height: 100px;
	background-color: #363f45;
	position: fixed;
}

#navigation a {
	color: #E2E2E2;
}

#navigation a:hover {
	text-decoration: none;
	color: #00B8C6;
}

#logo {
	margin: 10px 0 0 50px;
	width: 248px;
	height: 66px;
	display: inline-block;
	background-image: url('images/logo.png');
}

#links {
	width: 65%;
	display: inline-block;
	vertical-align: top;

	margin: 0 50px 0 0;
}

#links ul {
	width: 100%;
	padding: 0;
	display: inline-block;
	text-align: right;
	line-height: 100px;
}

#links li {
	margin: 0 0 0 25px;
	list-style-type: none;
	display: inline-block;
	font-size: 1.2em;
	text-transform: uppercase;
}

.download-link {
	border: 1px solid #E2E2E2;
	transition: background-color .3s;
	padding: 10px 15px;
}

.download-link:hover {
	color: #008C9E !important;
	background-color: #E2E2E2;
}


.pic, 
.info {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.pic {
	width: 34%;
}

.info {
	width: 64%;
}

#content {
	width: 100%;
}

#content h1 {
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	margin: 10px 0 30px 0;
	text-transform: uppercase;
}

#about,
#home, 
#footer {
	padding: 30px 50px;
	width: 100%;
	background-color: #FAFAFA;
	box-sizing: border-box;
}

#works {
	color: #FBFBFB;
	padding: 30px 50px;
	box-sizing: border-box;
}

#works ul {
	margin: 0 auto;
	padding: 0;
}

#works li {
	list-style-type: none;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

#works li div {
	width: 150px;
	height: 150px;
	border: 1px solid white;
	text-align: center;
	line-height: 1.3em;
	cursor: pointer;
}

#works div {
	text-align: center;
}

header {
	letter-spacing: -.05em;
	font-weight: 300;
	font-size: 3em;
}

#home {
	background-color: #008C9E;
	color: #EFEFEF;
	text-align: center;
	padding-top: 150px;
	height: 500px;
	
}

#works {
	height: 500px;
	color: #343838;
}

#about {
	height: 500px;
	background-color: #DBDBDB;
}

#footer {
	height: 200px;
}

